.venv/
__pycache__/
*.py[cod]
*.log

yolov*.pt
yolo*.pt

data/videos/*
!data/videos/.gitkeep

data/frames/*
!data/frames/.gitkeep

outputs/*
!outputs/.gitkeep
!outputs/training/
!outputs/training/.gitkeep

models/*.joblib
!models/.gitkeep
